<div class="col">
    <div class="card h-100">
        <div class="card-body">
            <h2>@Name</h2>
            <p>@Summary</p>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Summary { get; set; }

}