@page "/FormTest"
@using Blazored.FluentValidation

<Nonsense />

<EditForm Model="SignUpModel" OnValidSubmit="HandleValidSubmit" FormName="signup">
    <FluentValidationValidator />
    
    <label for="email">Your Email:</label>
    <InputText id="email" @bind-Value="SignUpModel.Email"/>
    <button type="submit">Register</button>
    
    <ValidationSummary />
</EditForm>

@code
{
    protected SignUp SignUpModel { get; set; } = new SignUp();

    protected void HandleValidSubmit()
    {
        Console.WriteLine("Valid submit!");
    }
    
    public class SignUp
    {
        public string Email { get; set; }
        public bool SubscribeToNewsletter { get; set; }
    }
    
    public class SignUpValidator : AbstractValidator<SignUp>
    {
        public SignUpValidator()
        {
            RuleFor(x => x.Email).NotEmpty();
        }
    }

}