@page "/"
@using BlazorDictionary.Data
@inject DefinitionStore Store

<PageTitle>Blazor Dictionary</PageTitle>

<form method="post" @formname="Search" class="d-flex mb-4 gap-2">
    <input type="text" name="searchTerm" value="@SearchTerm" 
           class="form-control"/>
    <button class="btn btn-primary">Search</button>
    <AntiforgeryToken/>
</form>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var definition in definitions)
    {
        <Definition Name="@definition.Name" Summary="@definition.Summary"/>
    }
</div>

@code {

    [SupplyParameterFromForm]
    public string SearchTerm { get; set; }
    
    private IEnumerable<DefinitionItem> definitions;

    protected override void OnInitialized()
    {
        definitions = Store.Definitions(SearchTerm);
    }

}